@font-face {
  font-family: fancy;
  src: url(Muli-Bold.ttf);
}
.logo {
  height: 40px;
  width: 40px;
}
.phone {
  height: 25px;
  width: 25px;
}
header {
  display: flex;
  background-color: aquamarine;
  height: 65px;
  padding: 0 20px;
  align-items: center;
}
.navbar {
  display: flex;
  align-content: center;
}
.navbar-nav {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
}
.nav {
  display: flex;
  font-size: 20px;
  font-family: fancy;
  list-style-type: none;
  margin: 0;
}
.nav-item {
  padding-left: 1rem;
  padding-right: 1rem;
}
.nav-item:hover {
  border: 1px solid salmon;
  background-color: salmon;
  cursor: pointer;
}
.nav-link {
  text-decoration: none;
  color: black;
}
.logo-wraper {
  display: flex;
}
.logo-brand {
  text-decoration: none;
  font-family: fancy;
  color: black;
}
.img-top {
  height: 400px;
  width: 300px;
}
section {
  display: flex;
}
.card-box {
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.card {
  justify-content: space-around;
  flex-basis: 25%;
  padding: 5% 3%;
  text-align: center;
}
.card a {
  text-decoration: none;
  font-size: 20px;
  font-family: fancy;
  color: black;
}
.star {
  height: 30px;
  width: 30px;
}
.card-rating {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  padding: 15px;
}
.star-rating {
  display: flex;
}
.heart-rating {
  display: flex;
}
.description {
  font-family: fancy;
  font-size: 16px;
  color: gray;
}
.button-link {
  border: 2px solid black;
  margin: 10px 10px;
  padding: 10px 20px;
}
.button-link:first-child {
  background-color: black;
  color: white;
}
